<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
    <title>HomePage</title>
</head>
<body>
    <%- include('./partials/script.ejs') %>
    <%- include('./partials/nav.ejs') %>
    
</body>
</html>